.version.continue_page /* version checker */
{
	color: #0000F6;
	background-color: #3F35E4;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	background-color: transparent;
	background-image: none;
	z-index: 1;
	border-color: #000000;
	margin-left: auto;
	border-width: 0px;
	margin-right: auto;
	width: 100%;
}

#u4524
{
	border-color: transparent;
	background-color: transparent;
	z-index: 3;
	position: relative;
	border-width: 0px;
	margin-right: -10000px;
	width: 157px;
}

#u4527
{
	border-color: transparent;
	background-color: transparent;
	z-index: 5;
	position: relative;
	border-width: 0px;
	min-height: 100px;
	width: 100px;
}

#u4526
{
	border-color: transparent;
	background-color: transparent;
	z-index: 4;
	position: relative;
	border-width: 0px;
	color: #F15A24;
	font-family: actor, sans-serif;
	min-height: 132px;
	width: 157px;
	font-weight: 400;
}

#u7727
{
	border-color: transparent;
	background-color: transparent;
	z-index: 37;
	position: relative;
	border-width: 0px;
	margin-right: -10000px;
	min-height: 136px;
	width: 157px;
}

#continue-page
{
	margin-right: -10000px;
	width: 22px;
	position: relative;
}

#u5276
{
	z-index: 2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	opacity: 0.6;
	filter: alpha(opacity=60);
}

.ie #u5276
{
	background-color: #FFFFFF;
	filter: alpha(opacity=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	opacity: 0.01;
}

#pu4927
{
	margin-right: -10000px;
	z-index: 20;
}

#u4927
{
	background-color: transparent;
	z-index: 20;
	position: relative;
}

#u4923
{
	z-index: 21;
	display: block;
	width: 100%;
}

#u4519-4
{
	font-weight: 500;
	color: #FFFFFF;
	position: relative;
	font-family: raleway, sans-serif;
	text-align: center;
	background-color: transparent;
	z-index: 7;
	width: 100%;
}

#u4516-4
{
	font-weight: 300;
	color: #FFFFFF;
	position: relative;
	font-family: raleway, sans-serif;
	background-color: transparent;
	z-index: 11;
	text-align: center;
}

#buttonu4517
{
	border-color: #FFFFFF;
	border-style: solid;
	position: relative;
	background-color: transparent;
	border-width: 1px;
	z-index: 15;
}

#u4518-4
{
	background-color: transparent;
	margin-right: -10000px;
	z-index: 16;
	position: relative;
}

#pu4963
{
	margin-right: -10000px;
	z-index: 35;
}

#u4963
{
	background-color: transparent;
	z-index: 35;
	position: relative;
}

#u4964
{
	z-index: 36;
	display: block;
	width: 100%;
}

#u4678-4
{
	font-weight: 500;
	color: #FFFFFF;
	position: relative;
	font-family: raleway, sans-serif;
	text-align: center;
	background-color: transparent;
	z-index: 22;
	width: 100%;
}

#u4675-4
{
	font-weight: 300;
	color: #FFFFFF;
	position: relative;
	font-family: raleway, sans-serif;
	background-color: transparent;
	z-index: 26;
	text-align: center;
}

#buttonu4676
{
	border-color: #FFFFFF;
	border-style: solid;
	position: relative;
	background-color: transparent;
	border-width: 1px;
	z-index: 30;
}

#buttonu4517:hover,#buttonu4676:hover
{
	border-color: #545454;
	margin-right: 0px;
	margin-bottom: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	min-height: 0px;
	background-color: #545454;
	filter: alpha(opacity=70);
	opacity: 0.7;
}

#u4677-4
{
	background-color: transparent;
	margin-right: -10000px;
	z-index: 31;
	position: relative;
}

#buttonu4517:hover #u4518-4 p,#buttonu4676:hover #u4677-4 p
{
	color: #00FFFF;
	letter-spacing: 8px;
	visibility: inherit;
}

#buttonu4517:hover #u4518-4,#buttonu4517.ButtonSelected #u4518-4,#buttonu4676:hover #u4677-4,#buttonu4676.ButtonSelected #u4677-4
{
	margin-right: -10000px;
	margin-bottom: 0px;
	margin-left: 0%;
	padding-top: 0px;
	padding-bottom: 0px;
}

#buttonu4517.ButtonSelected #u4518-4 p,#buttonu4676.ButtonSelected #u4677-4 p
{
	color: #FFFFFF;
	letter-spacing: 1px;
	visibility: inherit;
}

#u4518-3,#u4677-3
{
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	margin-left: 8px;
	font-weight: 200;
	margin-right: 8px;
	font-family: raleway, sans-serif;
}

.html
{
	background-color: #FFFFFF;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
}

body
{
	position: relative;
}

@media (min-width: 1573px), print
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		max-width: 1920px;
	}

	#u4524
	{
		margin-top: 148px;
		left: -20.27%;
	}

	#u7727
	{
		margin-top: 397px;
		left: -389px;
	}

	#u5276
	{
		position: relative;
		margin-right: -10000px;
		width: 100%;
		margin-left: 0%;
		left: 0px;
	}

	.ie #u5276
	{
		margin-left: 0%;
		left: 0px;
	}

	#u5276 .fluid_height_spacer
	{
		padding-bottom: 56.25%;
	}

	#pu4927
	{
		margin-top: 298px;
		width: 37.61%;
		margin-left: 6.2%;
	}

	#u4927
	{
		width: 18.56%;
		margin-left: 40.73%;
	}

	#buttonu4517
	{
		padding-bottom: 16px;
		margin-top: 23px;
		width: 31.86%;
		margin-left: 34.08%;
	}

	#buttonu4517:hover
	{
		margin-top: 23px;
		width: 31.86%;
		margin-left: 34.08%;
	}

	#u4518-4
	{
		min-height: 17px;
		margin-top: 16px;
		width: 75.22%;
		left: 12.18%;
	}

	#buttonu4517:hover #u4518-4
	{
		margin-top: 16px;
		min-height: 17px;
		width: 75.22%;
	}

	#pu4963
	{
		padding-bottom: 0px;
		margin-top: 298px;
		width: 37.61%;
		margin-left: 56.2%;
	}

	#u4963
	{
		-webkit-transform: matrix(-1,0,0,-1,134,134);
		-ms-transform: matrix(-1,0,0,-1,134,134);
		transform: matrix(-1,0,0,-1,134,134);
		width: 18.56%;
		margin-left: 40.73%;
	}

	#u4519-4,#u4678-4
	{
		min-height: 60px;
		line-height: 60px;
		font-size: 50px;
		margin-top: 23px;
	}

	#u4516-4,#u4675-4
	{
		min-height: 36px;
		line-height: 30px;
		font-size: 25px;
		width: 94.46%;
		margin-left: 2.78%;
	}

	#buttonu4676
	{
		padding-bottom: 16px;
		margin-top: 22px;
		width: 31.86%;
		margin-left: 34.08%;
	}

	#buttonu4676:hover
	{
		margin-top: 22px;
		width: 31.86%;
		margin-left: 34.08%;
	}

	#u4677-4
	{
		min-height: 17px;
		margin-top: 16px;
		width: 75.22%;
		left: 12.18%;
	}

	#buttonu4517.ButtonSelected #u4518-4,#buttonu4676:hover #u4677-4
	{
		margin-top: 16px;
		min-height: 17px;
		width: 75.22%;
	}

	#buttonu4676.ButtonSelected #u4677-4
	{
		margin-top: 16px;
		min-height: 17px;
		width: 75.22%;
	}

	.html
	{
		background-image: url("../images/untitled-1-01.png?crc=4106093832");
	}
}

@media (min-width: 1281px) and (max-width: 1572px)
{
	#muse_css_mq
	{
		background-color: #000624;
	}

	#bp_1572.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		max-width: 1572px;
	}

	#u4524
	{
		margin-top: -8px;
		left: -29.71%;
	}

	#u7727
	{
		margin-top: 397px;
		left: -389px;
	}

	#pu5276
	{
		z-index: 2;
		width: 0.01px;
		margin-right: -10000px;
	}

	#u5276
	{
		height: 884px;
	}

	#u5276-bw
	{
		z-index: 2;
		height: 884px;
	}

	#pu4927
	{
		padding-bottom: 0px;
		margin-top: 310px;
		width: 37.6%;
		margin-left: 6.18%;
	}

	#u4927
	{
		width: 18.62%;
		margin-left: 40.78%;
	}

	#u4519-4
	{
		min-height: 36px;
		line-height: 36px;
		font-size: 30px;
		margin-top: 53px;
	}

	#u4516-4
	{
		min-height: 9px;
		line-height: 24px;
		font-size: 20px;
		width: 94.42%;
		margin-left: 2.71%;
	}

	#buttonu4517
	{
		padding-bottom: 18px;
		margin-top: 40px;
		width: 31.82%;
		margin-left: 34.02%;
	}

	#buttonu4517:hover
	{
		margin-top: 40px;
		width: 31.82%;
		margin-left: 34.02%;
	}

	#u4518-4
	{
		min-height: 13px;
		margin-top: 17px;
		width: 75%;
		left: 12.24%;
	}

	#buttonu4517:hover #u4518-4
	{
		margin-top: 17px;
		min-height: 13px;
		width: 75%;
	}

	#buttonu4517.ButtonSelected #u4518-4
	{
		margin-top: 17px;
		min-height: 13px;
		width: 75%;
	}

	#pu4963
	{
		margin-top: 310px;
		width: 37.6%;
		margin-left: 56.18%;
	}

	#u4963
	{
		-webkit-transform: matrix(-1,0,0,-1,110,110);
		-ms-transform: matrix(-1,0,0,-1,110,110);
		transform: matrix(-1,0,0,-1,110,110);
		width: 18.62%;
		margin-left: 40.78%;
	}

	#u4678-4
	{
		min-height: 36px;
		line-height: 36px;
		font-size: 30px;
		margin-top: 58px;
	}

	#u4675-4
	{
		min-height: 24px;
		line-height: 24px;
		font-size: 20px;
		width: 94.42%;
		margin-left: 2.71%;
	}

	#buttonu4676
	{
		padding-bottom: 19px;
		margin-top: 35px;
		width: 31.82%;
		margin-left: 34.02%;
	}

	#buttonu4676:hover
	{
		margin-top: 35px;
		width: 31.82%;
		margin-left: 34.02%;
	}

	#u4677-4
	{
		min-height: 14px;
		margin-top: 18px;
		width: 75%;
		left: 12.24%;
	}

	#buttonu4676:hover #u4677-4
	{
		margin-top: 18px;
		min-height: 14px;
		width: 75%;
	}

	#buttonu4676.ButtonSelected #u4677-4
	{
		margin-top: 18px;
		min-height: 14px;
		width: 75%;
	}

	#u4518-3,#u4677-3
	{
		font-size: 12px;
		line-height: 14px;
	}

	.html
	{
		background-image: url("../images/untitled-1-012048x1152.png?crc=525019495");
	}

	body
	{
		overflow-x: hidden;
	}
}

@media (max-width: 1280px)
{
	#muse_css_mq
	{
		background-color: #000500;
	}

	#bp_1280.active
	{
		display: block;
	}

	#page
	{
		min-height: 540px;
		max-width: 1280px;
	}

	#u4524
	{
		padding-bottom: 0px;
		margin-top: 135px;
		left: -25.79%;
	}

	#u4527
	{
		margin-left: 33.13%;
	}

	#u4526
	{
		margin-top: 43px;
	}

	#u7727
	{
		margin-top: 658px;
		left: -303px;
	}

	#continue-page
	{
		left: -72px;
	}

	#u5276
	{
		position: relative;
		margin-right: -10000px;
		width: 100%;
		margin-left: 0%;
		left: 0px;
	}

	.ie #u5276
	{
		margin-left: 0%;
		left: 0px;
	}

	#u5276 .fluid_height_spacer
	{
		padding-bottom: 62.5%;
	}

	#pu4927
	{
		margin-top: 278px;
		width: 42.35%;
		margin-left: 0.63%;
	}

	#u4927
	{
		width: 18.64%;
		margin-left: 40.78%;
	}

	#u4519-4
	{
		min-height: 43px;
		line-height: 43px;
		font-size: 36px;
		margin-top: 5px;
	}

	#u4516-4
	{
		min-height: 7px;
		font-size: 14px;
		width: 94.47%;
		margin-left: 2.77%;
	}

	#buttonu4517
	{
		padding-bottom: 18px;
		margin-top: 58px;
		width: 31.92%;
		margin-left: 33.95%;
	}

	#buttonu4517:hover
	{
		margin-top: 58px;
		width: 31.92%;
		margin-left: 33.95%;
	}

	#u4518-4
	{
		min-height: 14px;
		margin-top: 17px;
		width: 100%;
	}

	#buttonu4517:hover #u4518-4
	{
		margin-top: 17px;
		min-height: 14px;
		width: 100%;
	}

	#pu4963
	{
		padding-bottom: 0px;
		margin-top: 267px;
		width: 42.35%;
		margin-left: 56.96%;
	}

	#u4963
	{
		-webkit-transform: matrix(-1,0,0,-1,101,101);
		-ms-transform: matrix(-1,0,0,-1,101,101);
		transform: matrix(-1,0,0,-1,101,101);
		width: 18.64%;
		margin-left: 40.78%;
	}

	#u4678-4
	{
		min-height: 43px;
		line-height: 43px;
		font-size: 36px;
		margin-top: 17px;
	}

	#u4675-4
	{
		min-height: 8px;
		font-size: 14px;
		width: 94.47%;
		margin-left: 2.77%;
	}

	#buttonu4676
	{
		padding-bottom: 18px;
		margin-top: 57px;
		width: 31.92%;
		margin-left: 34.14%;
	}

	#buttonu4676:hover
	{
		margin-top: 57px;
		width: 31.92%;
		margin-left: 34.14%;
	}

	#buttonu4517.ButtonSelected #u4518-4,#u4677-4
	{
		margin-top: 17px;
		min-height: 14px;
		width: 100%;
	}

	#buttonu4676:hover #u4677-4
	{
		margin-top: 17px;
		min-height: 14px;
		width: 100%;
	}

	#buttonu4676.ButtonSelected #u4677-4
	{
		margin-top: 17px;
		min-height: 14px;
		width: 100%;
	}

	#u4518-3,#u4677-3
	{
		font-size: 12px;
		line-height: 14px;
	}

	.html
	{
		background-image: url("../images/untitled-1-012048x1152.png?crc=525019495");
	}

	body
	{
		overflow-x: hidden;
		min-width: 1280px;
	}
}

