.version.index /* version checker */
{
	color: #0000E8;
	background-color: #1EBF0E;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#page
{
	background-color: transparent;
	background-image: none;
	z-index: 1;
	border-color: #000000;
	margin-left: auto;
	border-width: 0px;
	margin-right: auto;
	width: 100%;
}

#u4168
{
	border-color: transparent;
	background-color: transparent;
	z-index: 67;
	position: relative;
	border-width: 0px;
	margin-right: -10000px;
	min-height: 100px;
	width: 100px;
}

#pu2739
{
	z-index: 66;
}

#u2739
{
	color: #F15A24;
	position: relative;
	border-width: 0px;
	font-family: actor, sans-serif;
	border-color: transparent;
	z-index: 66;
	background-color: transparent;
	min-height: 132px;
	width: 157px;
	font-weight: 400;
}

#u7713
{
	border-color: transparent;
	background-color: transparent;
	position: relative;
	border-width: 0px;
	min-height: 136px;
	width: 157px;
}

#u4359
{
	opacity: 0.6;
	z-index: 2;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
}

.ie #u4359
{
	background-color: #FFFFFF;
	opacity: 0.01;
	filter: alpha(opacity=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}

#pu4359,#u4359-bw
{
	z-index: 2;
}

#u7495
{
	background-color: #2B2B2B;
	z-index: 3;
}

#u7495_align_to_page
{
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

#u7636-4
{
	border-color: #29ABE2;
	letter-spacing: 8px;
	min-height: 32px;
	position: relative;
	font-size: 24px;
	font-family: raleway, sans-serif;
	line-height: 29px;
	left: 34.69%;
	color: #FFFFFF;
	border-style: solid;
	text-align: center;
	background-color: transparent;
	width: 30.63%;
	font-weight: 500;
	border-width: 0px 0px 1px;
}

#pu7301
{
	z-index: 4;
	width: 100%;
	position: relative;
}

#u7301
{
	border-color: transparent;
	background-color: transparent;
	z-index: 4;
	position: relative;
	border-width: 0px;
	margin-right: -10000px;
}

#u7285
{
	background-color: transparent;
	z-index: 14;
	position: relative;
	border-radius: 50%;
}

#u7281
{
	border-color: transparent;
	background-color: transparent;
	z-index: 5;
	position: relative;
	border-width: 0px;
}

#u7271-4
{
	border-color: #FFFFFF;
	min-height: 38px;
	position: relative;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	line-height: 36px;
	font-size: 30px;
	border-style: solid;
	text-align: center;
	background-color: transparent;
	z-index: 6;
	font-weight: 300;
	border-width: 0px 0px 1px;
}

#u7275-4
{
	background-color: transparent;
	text-align: center;
	z-index: 10;
	position: relative;
	font-family: raleway, sans-serif;
	font-weight: 300;
}

#u7464
{
	border-color: transparent;
	background-color: transparent;
	z-index: 16;
	position: relative;
	border-width: 0px;
	margin-right: -10000px;
}

#u7468
{
	background-color: transparent;
	z-index: 26;
	position: relative;
	border-radius: 50%;
}

#u7465
{
	border-color: transparent;
	background-color: transparent;
	z-index: 17;
	position: relative;
	border-width: 0px;
}

#u7467-4
{
	border-color: #FFFFFF;
	min-height: 38px;
	position: relative;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	line-height: 36px;
	font-size: 30px;
	border-style: solid;
	text-align: center;
	background-color: transparent;
	z-index: 18;
	font-weight: 300;
	border-width: 0px 0px 1px;
}

#u7466-4
{
	background-color: transparent;
	text-align: center;
	z-index: 22;
	position: relative;
	font-family: raleway, sans-serif;
	font-weight: 300;
}

#u7337
{
	border-color: transparent;
	background-color: transparent;
	z-index: 28;
	position: relative;
	border-width: 0px;
	margin-right: -10000px;
}

#u7341
{
	background-color: transparent;
	z-index: 38;
	position: relative;
	border-radius: 50%;
}

#u7338
{
	border-color: transparent;
	background-color: transparent;
	z-index: 29;
	position: relative;
	border-width: 0px;
}

#u7340-4
{
	border-color: #FFFFFF;
	min-height: 38px;
	position: relative;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	line-height: 36px;
	font-size: 30px;
	border-style: solid;
	text-align: center;
	background-color: transparent;
	z-index: 30;
	font-weight: 300;
	border-width: 0px 0px 1px;
}

#u7339-4
{
	background-color: transparent;
	text-align: center;
	z-index: 34;
	position: relative;
	font-family: raleway, sans-serif;
	font-weight: 300;
}

#u7432
{
	border-color: transparent;
	background-color: transparent;
	z-index: 40;
	position: relative;
	border-width: 0px;
	margin-right: -10000px;
}

#u7433
{
	background-color: transparent;
	z-index: 50;
	position: relative;
	border-radius: 50%;
}

#u7285 .clip_frame,#u7468 .clip_frame,#u7341 .clip_frame,#u7433 .clip_frame
{
	-webkit-border-radius: 0.5px 0.5px 0.5px 0.5px;
}

#u7285_img,#u7468_img,#u7341_img,#u7433_img
{
	width: 100%;
}

#u7435
{
	border-color: transparent;
	background-color: transparent;
	z-index: 41;
	position: relative;
	border-width: 0px;
}

#u7436-4
{
	border-color: #FFFFFF;
	min-height: 38px;
	position: relative;
	color: #FFFFFF;
	font-family: raleway, sans-serif;
	line-height: 36px;
	font-size: 30px;
	border-style: solid;
	text-align: center;
	background-color: transparent;
	z-index: 42;
	font-weight: 300;
	border-width: 0px 0px 1px;
}

#u7437-4
{
	background-color: transparent;
	text-align: center;
	z-index: 46;
	position: relative;
	font-family: raleway, sans-serif;
	font-weight: 300;
}

#u7495-bw
{
	z-index: 3;
}

#u4184
{
	border-color: transparent;
	background-color: transparent;
	z-index: 52;
	position: relative;
	border-width: 0px;
	margin-right: -10000px;
}

#u481-4
{
	font-weight: 500;
	color: #FFFFFF;
	position: relative;
	font-size: 72px;
	font-family: raleway, sans-serif;
	line-height: 86px;
	background-color: transparent;
	z-index: 53;
	text-align: center;
	min-height: 86px;
}

#u537-4
{
	font-weight: 300;
	color: #FFFFFF;
	position: relative;
	font-size: 30px;
	font-family: raleway, sans-serif;
	line-height: 36px;
	background-color: transparent;
	z-index: 57;
	text-align: center;
	min-height: 36px;
}

#buttonu4122
{
	border-color: #FFFFFF;
	background-color: transparent;
	border-style: solid;
	position: relative;
	border-width: 1px;
	z-index: 61;
}

#buttonu4122:hover
{
	border-color: #545454;
	filter: alpha(opacity=70);
	margin-bottom: 0px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	background-color: #545454;
	opacity: 0.7;
	min-height: 0px;
}

#u4124-4
{
	background-color: transparent;
	margin-right: -10000px;
	z-index: 62;
	position: relative;
}

#buttonu4122:hover #u4124-4 p
{
	color: #00FFFF;
	letter-spacing: 8px;
	visibility: inherit;
}

#buttonu4122:hover #u4124-4,#buttonu4122.ButtonSelected #u4124-4
{
	margin-right: -10000px;
	margin-bottom: 0px;
	margin-left: 0%;
	padding-top: 0px;
	padding-bottom: 0px;
}

#buttonu4122.ButtonSelected #u4124-4 p
{
	color: #FFFFFF;
	letter-spacing: 1px;
	visibility: inherit;
}

#u4124-3
{
	text-align: center;
	color: #FFFFFF;
	letter-spacing: 1px;
	margin-left: 8px;
	font-weight: 200;
	margin-right: 8px;
	font-family: raleway, sans-serif;
}

.html
{
	background-color: #FFFFFF;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;
}

body
{
	position: relative;
}

@media (min-width: 1281px), print
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		max-width: 1920px;
	}

	#landing-page
	{
		margin-left: 949px;
		position: relative;
	}

	#pu2739
	{
		margin-top: 359px;
		width: 100%;
	}

	#u2739
	{
		margin-right: -10000px;
		margin-top: 120px;
		left: -313px;
	}

	#u4168
	{
		left: -14.59%;
	}

	#u4184
	{
		margin-bottom: -1px;
		margin-top: 58px;
		width: 37.61%;
		left: 31.2%;
	}

	#u537-4
	{
		width: 94.46%;
		margin-left: 2.78%;
	}

	#buttonu4122
	{
		padding-bottom: 16px;
		margin-top: 39px;
		width: 31.86%;
		margin-left: 34.08%;
	}

	#buttonu4122:hover
	{
		margin-right: 0px;
		margin-top: 39px;
		width: 31.86%;
		margin-left: 34.08%;
	}

	#u4124-4
	{
		min-height: 17px;
		margin-top: 16px;
		width: 75.22%;
		left: 12.18%;
	}

	#buttonu4122:hover #u4124-4
	{
		margin-top: 16px;
		min-height: 17px;
		width: 75.22%;
	}

	#buttonu4122.ButtonSelected #u4124-4
	{
		margin-top: 16px;
		min-height: 17px;
		width: 75.22%;
	}

	#u7713
	{
		z-index: 74;
		left: -313px;
		margin-top: 3px;
	}

	#pu4359
	{
		margin-top: 296px;
		width: 100%;
	}

	#u4359,#u4359-bw
	{
		height: 1080px;
	}

	#u7495
	{
		min-height: 521.8000000000004px;
		padding-bottom: 0px;
	}

	#u7495_align_to_page
	{
		max-width: 1920px;
		padding-bottom: 147px;
	}

	#landing-page-thanks
	{
		left: 949px;
		position: relative;
	}

	#u7636-4
	{
		z-index: 69;
		margin-top: 21px;
	}

	#pu7301
	{
		margin-top: 77px;
	}

	#u7301
	{
		padding-bottom: 0px;
		width: 11.52%;
		left: 23.91%;
	}

	#u7285
	{
		width: 65.16%;
		margin-left: 17.2%;
	}

	#u7337
	{
		padding-bottom: 0px;
		width: 11.52%;
		left: 37.45%;
	}

	#u7464
	{
		padding-bottom: 0px;
		width: 11.52%;
		left: 51.05%;
	}

	#u7432
	{
		padding-bottom: 0px;
		width: 11.52%;
		left: 64.59%;
	}

	#u7341,#u7468,#u7433
	{
		width: 65.16%;
		margin-left: 17.65%;
	}

	#u7281,#u7338,#u7465,#u7435
	{
		margin-top: 20px;
		width: 100%;
	}

	#page_position_content,#u481-4,#u7271-4,#u7340-4,#u7467-4,#u7436-4
	{
		width: 100%;
	}

	#u7275-4,#u7339-4,#u7466-4,#u7437-4
	{
		min-height: 17px;
		color: #29ABE2;
		font-size: 14px;
		margin-top: 6px;
		width: 100%;
	}

	#u7495-bw
	{
		min-height: 521.8000000000004px;
	}

	.html
	{
		background-image: url("../images/untitled-1-01.png?crc=4106093832");
	}
}

@media (max-width: 1280px)
{
	#muse_css_mq
	{
		background-color: #000500;
	}

	#bp_1280.active
	{
		display: block;
	}

	#page
	{
		min-height: 540px;
		max-width: 1280px;
	}

	#u4168
	{
		margin-top: 159px;
		left: -30.71%;
	}

	#pu2739
	{
		width: 0.01px;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 259px;
		margin-left: -393px;
	}

	#u7713
	{
		z-index: 72;
		margin-left: 80px;
		margin-top: 257px;
	}

	#pu4359
	{
		margin-right: -10000px;
		margin-top: 30px;
		width: 108.75%;
		margin-left: -8.75%;
	}

	#u4359
	{
		height: 800px;
	}

	#u4359-bw
	{
		margin-top: 770px;
		height: 800px;
	}

	#u7495
	{
		min-height: 522px;
	}

	#u7495_align_to_page
	{
		max-width: 1280px;
		padding-top: 39px;
		padding-bottom: 202px;
	}

	#u7636-4
	{
		z-index: 68;
	}

	#pu7301
	{
		margin-top: 91px;
	}

	#u7281
	{
		margin-right: -10000px;
		margin-top: 85px;
		width: 56.05%;
		left: 43.96%;
	}

	#u7271-4
	{
		margin-right: -10000px;
		width: 72.06%;
	}

	#u7275-4
	{
		min-height: 35px;
		line-height: 36px;
		color: #FFFFFF;
		font-size: 30px;
		margin-right: -10000px;
		width: 72.06%;
		left: 27.46%;
	}

	#u7337
	{
		margin-bottom: -1px;
		width: 28.44%;
		left: 11.41%;
	}

	#u7301,#u7464,#u7432
	{
		width: 28.44%;
		left: 11.41%;
	}

	#u7285,#u7468,#u7341,#u7433
	{
		margin-right: -10000px;
		width: 26.38%;
	}

	#u7465,#u7338,#u7435
	{
		margin-right: -10000px;
		margin-top: 85px;
		width: 57.7%;
		left: 42.31%;
	}

	#u7467-4,#u7340-4,#u7436-4
	{
		margin-right: -10000px;
		width: 70%;
	}

	#u7466-4,#u7339-4,#u7437-4
	{
		min-height: 35px;
		line-height: 36px;
		color: #FFFFFF;
		font-size: 30px;
		margin-right: -10000px;
		width: 70%;
		left: 30%;
	}

	#u7495-bw
	{
		min-height: 522px;
		margin-top: 1050px;
	}

	#u4184
	{
		width: 71.27%;
	}

	#u481-4
	{
		margin-right: -10000px;
		margin-top: 264px;
		width: 48.49%;
		left: 51.52%;
	}

	#u537-4
	{
		margin-right: -10000px;
		margin-top: 350px;
		width: 45.87%;
		left: 52.83%;
	}

	#buttonu4122
	{
		padding-bottom: 624px;
		margin-right: -10000px;
		width: 84.18%;
	}

	#buttonu4122:hover
	{
		margin-right: -10000px;
		margin-top: 0px;
		width: 84.18%;
		margin-left: 0%;
	}

	#u4124-4
	{
		min-height: 14px;
		margin-top: 442px;
		width: 19.65%;
		left: 80.24%;
	}

	#buttonu4122:hover #u4124-4
	{
		margin-top: 442px;
		min-height: 14px;
		width: 19.65%;
	}

	#buttonu4122.ButtonSelected #u4124-4
	{
		margin-top: 442px;
		min-height: 14px;
		width: 19.65%;
	}

	#u4124-3
	{
		font-size: 12px;
		line-height: 14px;
	}

	.html
	{
		background-image: url("../images/untitled-1-012560x1439.png?crc=4161219856");
	}

	body
	{
		overflow-x: hidden;
		min-width: 1136px;
	}
}

