	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		width: 1572px;
		min-height: 800px;
	}

	#page_position_content
	{
		margin-top: -8px;
		width: 0.01px;/* should not cover content below */
	}

	#ppu6223
	{
		z-index: 0;
		width: 0.01px;
		margin-left: -570px;
	}

	#pu6223
	{
		z-index: 5;
		width: 0.01px;
		margin-right: -10000px;
	}

	#u6228
	{
		width: 1920px;
		height: 1080px;
		position: relative;
		margin-right: -10000px;
		margin-top: 8px;
		left: 396px;
	}

	#new-customer-land
	{
		margin-top: 8px;
		left: 396px;
	}

	#u6233-4
	{
		width: 722px;
		min-height: 60px;
		line-height: 60px;
		text-align: justify;
		font-size: 50px;
		margin-top: 500px;
		left: 450px;
	}

	#u6225-4
	{
		width: 682px;
		min-height: 36px;
		line-height: 30px;
		text-align: justify;
		font-size: 25px;
		margin-top: 560px;
		left: 450px;
	}

	#u6411
	{
		margin-top: 507px;
		left: 2214px;
	}

	#u7760
	{
		margin-right: -10000px;
		margin-top: 35px;
		left: 232px;
	}

	#pu6420
	{
		z-index: 16;
		width: 0.01px;
		margin-left: -174px;
	}

	#u6420
	{
		z-index: 16;
		width: 1920px;
		height: 1080px;
		position: relative;
		margin-right: -10000px;
	}

	#u7909
	{
		width: 722px;
		margin-top: 357px;
		left: 599px;
	}

	#pu7874
	{
		width: 0.01px;
		margin-left: 62px;
	}

	#u7868
	{
		left: 181px;
	}

	#u7862
	{
		left: 434px;
	}

	#u7772-4
	{
		width: 722px;
		min-height: 60px;
		line-height: 60px;
		text-align: center;
		font-size: 50px;
		margin-top: 34px;
	}

	#u7773-4
	{
		width: 682px;
		min-height: 36px;
		line-height: 30px;
		text-align: center;
		font-size: 25px;
		margin-left: 20px;
	}

	#ppu7838
	{
		z-index: 0;
		width: 0.01px;
		margin-left: -426px;
	}

	#pu7838
	{
		width: 0.01px;
		margin-right: -10000px;
		margin-top: 356px;
	}

	#u8417
	{
		margin-top: 33px;
	}

	#u8432
	{
		margin-top: 18px;
	}

	#u7950
	{
		height: 1080px;
	}

	#u7950-bw
	{
		z-index: 2;
		height: 1080px;
	}

	#u8091
	{
		width: 639px;
		height: 872px;
		position: relative;
		margin-right: -10000px;
		margin-top: 104px;
		left: 892px;
	}

	#new-customer-2
	{
		left: 252px;
	}

	#u7962-4
	{
		width: 144px;
		min-height: 36px;
		line-height: 30px;
		text-align: center;
		font-size: 25px;
		font-weight: 500;
		margin-top: 685px;
		left: 500px;
	}

	#u8148-4
	{
		width: 144px;
		min-height: 36px;
		line-height: 30px;
		text-align: center;
		font-size: 25px;
		font-weight: 500;
		margin-top: 685px;
		left: 1140px;
	}

	#u8180-4
	{
		width: 180px;
		min-height: 36px;
		line-height: 30px;
		text-align: center;
		font-size: 25px;
		font-weight: 500;
		margin-top: 685px;
		left: 1762px;
	}

	#u7971-4
	{
		width: 294px;
		min-height: 22px;
		line-height: 22px;
		text-align: center;
		font-size: 18px;
		margin-top: 727px;
		left: 425px;
	}

	#u8157-4
	{
		width: 294px;
		min-height: 22px;
		line-height: 22px;
		text-align: center;
		font-size: 18px;
		margin-top: 727px;
		left: 1065px;
	}

	#u8189-4
	{
		width: 294px;
		min-height: 22px;
		line-height: 22px;
		text-align: center;
		font-size: 18px;
		margin-top: 727px;
		left: 1705px;
	}

	#u8288
	{
		margin-top: 330px;
		left: 436px;
	}

	#u8324
	{
		margin-top: 330px;
		left: 1076px;
	}

	#u8373
	{
		margin-top: 330px;
		left: 1716px;
	}

	#buttonu8554
	{
		width: 230px;
		padding-bottom: 16px;
		margin-right: -10000px;
		margin-top: 803px;
		left: 1097px;
	}

	#buttonu8554:hover
	{
		margin-left: 0px;
		margin-right: -10000px;
		margin-top: 803px;
		width: 230px;
	}

	#u8555-4
	{
		width: 173px;
		min-height: 17px;
		margin-top: 16px;
		left: 28px;
	}

	#buttonu8554:hover #u8555-4
	{
		margin-left: 0px;
		margin-top: 16px;
		min-height: 17px;
		width: 173px;
	}

	#buttonu8554.ButtonSelected #u8555-4
	{
		margin-left: 0px;
		margin-top: 16px;
		min-height: 17px;
		width: 173px;
	}

	.html
	{
		background-image: url("../images/untitled-1-01.png?crc=4106093832");
	}

	body
	{
		min-width: 1572px;
	}

