	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 800px;
		max-width: 1920px;
	}

	#u4524
	{
		margin-top: 148px;
		left: -20.27%;
	}

	#u7727
	{
		margin-top: 397px;
		left: -389px;
	}

	#u5276
	{
		position: relative;
		margin-right: -10000px;
		width: 100%;
		margin-left: 0%;
		left: 0px;
	}

	.ie #u5276
	{
		margin-left: 0%;
		left: 0px;
	}

	#u5276 .fluid_height_spacer
	{
		padding-bottom: 56.25%;
	}

	#pu4927
	{
		margin-top: 298px;
		width: 37.61%;
		margin-left: 6.2%;
	}

	#u4927
	{
		width: 18.56%;
		margin-left: 40.73%;
	}

	#buttonu4517
	{
		padding-bottom: 16px;
		margin-top: 23px;
		width: 31.86%;
		margin-left: 34.08%;
	}

	#buttonu4517:hover
	{
		margin-top: 23px;
		width: 31.86%;
		margin-left: 34.08%;
	}

	#u4518-4
	{
		min-height: 17px;
		margin-top: 16px;
		width: 75.22%;
		left: 12.18%;
	}

	#buttonu4517:hover #u4518-4
	{
		margin-top: 16px;
		min-height: 17px;
		width: 75.22%;
	}

	#pu4963
	{
		padding-bottom: 0px;
		margin-top: 298px;
		width: 37.61%;
		margin-left: 56.2%;
	}

	#u4963
	{
		-webkit-transform: matrix(-1,0,0,-1,134,134);
		-ms-transform: matrix(-1,0,0,-1,134,134);
		transform: matrix(-1,0,0,-1,134,134);
		width: 18.56%;
		margin-left: 40.73%;
	}

	#u4519-4,#u4678-4
	{
		min-height: 60px;
		line-height: 60px;
		font-size: 50px;
		margin-top: 23px;
	}

	#u4516-4,#u4675-4
	{
		min-height: 36px;
		line-height: 30px;
		font-size: 25px;
		width: 94.46%;
		margin-left: 2.78%;
	}

	#buttonu4676
	{
		padding-bottom: 16px;
		margin-top: 22px;
		width: 31.86%;
		margin-left: 34.08%;
	}

	#buttonu4676:hover
	{
		margin-top: 22px;
		width: 31.86%;
		margin-left: 34.08%;
	}

	#u4677-4
	{
		min-height: 17px;
		margin-top: 16px;
		width: 75.22%;
		left: 12.18%;
	}

	#buttonu4517.ButtonSelected #u4518-4,#buttonu4676:hover #u4677-4
	{
		margin-top: 16px;
		min-height: 17px;
		width: 75.22%;
	}

	#buttonu4676.ButtonSelected #u4677-4
	{
		margin-top: 16px;
		min-height: 17px;
		width: 75.22%;
	}

	.html
	{
		background-image: url("../images/untitled-1-01.png?crc=4106093832");
	}

